In [23]:
import h2o

In [24]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  -------------------------------
H2O_cluster_uptime:         2 hours 28 mins
H2O_cluster_timezone:       America/New_York
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.36.0.3
H2O_cluster_version_age:    9 days
H2O_cluster_name:           H2O_started_from_R_laksh_fdd511
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    821 Mb
H2O_cluster_total_cores:    4
H2O_cluster_allowed_cores:  4
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.8.8 final
--------------------------  -------------------------------

In [25]:
people = h2o.get_frame("people")

In [26]:
people

id,bloodType,age,healthyeating,activelifecycle,income
1,A,31.5161,4,3,31300
2,A,55.0503,3,4,52500
3,O,37.2219,7,3,38700
4,O,59.5018,7,6,56800
5,O,62.202,2,7,54900
6,AB,20.1412,5,9,23900
7,B,42.821,3,6,37700
8,A,59.9437,1,3,54600
9,A,43.9174,5,7,41700
10,A,39.4609,5,7,35800

In [27]:
train, valid, test = people.split_frame(ratios = [0.8, 0.1], 
                                       destination_frames = ["people_train", "people_valid", "people_test"],
                                       seed = 123)

In [28]:
train.nrows

788

In [29]:
valid.nrows

118

In [30]:
test.nrows

94

In [31]:
train = h2o.get_frame("people_train")

In [32]:
valid = h2o.get_frame("people_valid")

In [33]:
test = h2o.get_frame("people_test")

In [34]:
from h2o.estimators.gbm import H2OGradientBoostingEstimator

In [35]:
y = "income"

In [36]:
ignoreFields = [y, "id"]

In [37]:
x = [i for i in train.names if i not in ignoreFields]

In [38]:
x

['bloodType', 'age', 'healthyeating', 'activelifecycle']

In [39]:
ml = H2OGradientBoostingEstimator(model_id = "defaults")

In [40]:
ml.train(x,y,train, validation_frame = valid)

gbm Model Build progress: |██████████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2OGradientBoostingEstimator :  Gradient Boosting Machine
Model Key:  defaults


Model Summary:

,,number_of_trees,number_of_internal_trees,model_size_in_bytes,min_depth,max_depth,mean_depth,min_leaves,max_leaves,mean_leaves
0,,50.0,50.0,18536.0,5.0,5.0,5.0,12.0,32.0,24.86

ModelMetricsRegression: gbm
** Reported on train data. **

MSE: 1153342.075788982
RMSE: 1073.9376498610065
MAE: 895.5340210580583
RMSLE: 0.029879077151818367
Mean Residual Deviance: 1153342.075788982

ModelMetricsRegression: gbm
** Reported on validation data. **

MSE: 2821231.3333341125
RMSE: 1679.652146527403
MAE: 1444.8498732831538
RMSLE: 0.04522459905317094
Mean Residual Deviance: 2821231.3333341125

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_mae,training_deviance,validation_rmse,validation_mae,validation_deviance
0,,2022-02-26 08:58:57,0.000 sec,0.0,10429.864768,8944.657811,1.087821e+08,10079.756740,8722.948034,1.016015e+08
1,,2022-02-26 08:58:57,0.032 sec,1.0,9410.173299,8059.793564,8.855136e+07,9097.946100,7863.640856,8.277262e+07
2,,2022-02-26 08:58:57,0.032 sec,2.0,8494.265012,7265.001338,7.215254e+07,8225.168910,7098.567899,6.765340e+07
3,,2022-02-26 08:58:57,0.032 sec,3.0,7671.255342,6553.229071,5.884816e+07,7445.347873,6418.240529,5.543320e+07
4,,2022-02-26 08:58:57,0.047 sec,4.0,6932.328185,5912.616082,4.805717e+07,6740.758638,5806.668106,4.543783e+07
5,,2022-02-26 08:58:57,0.057 sec,5.0,6269.740668,5338.636828,3.930965e+07,6104.665833,5247.795591,3.726694e+07
6,,2022-02-26 08:58:57,0.062 sec,6.0,5675.216721,4823.413111,3.220808e+07,5537.575656,4750.676480,3.066474e+07
7,,2022-02-26 08:58:57,0.066 sec,7.0,5143.131018,4359.086527,2.645180e+07,5036.421661,4314.472767,2.536554e+07
8,,2022-02-26 08:58:57,0.071 sec,8.0,4666.453011,3944.563102,2.177578e+07,4581.908448,3913.825750,2.099389e+07
9,,2022-02-26 08:58:57,0.075 sec,9.0,4240.834490,3574.623401,1.798468e+07,4186.154238,3558.819188,1.752389e+07
10,,2022-02-26 08:58:57,0.079 sec,10.0,3859.720925,3243.290537,1.489745e+07,3835.903161,3244.440367,1.471415e+07
11,,2022-02-26 08:58:57,0.084 sec,11.0,3520.465515,2946.017221,1.239368e+07,3526.238067,2959.469785,1.243435e+07
12,,2022-02-26 08:58:57,0.088 sec,12.0,3218.139418,2680.867926,1.035642e+07,3246.127035,2696.764696,1.053734e+07
13,,2022-02-26 08:58:57,0.092 sec,13.0,2949.920152,2446.441914,8.702029e+06,3014.026787,2479.343526,9.084357e+06
14,,2022-02-26 08:58:57,0.098 sec,14.0,2711.376815,2235.778672,7.351564e+06,2807.997301,2285.223530,7.884849e+06
15,,2022-02-26 08:58:57,0.103 sec,15.0,2499.306893,2051.989979,6.246535e+06,2623.372882,2111.204707,6.882085e+06
16,,2022-02-26 08:58:57,0.107 sec,16.0,2312.383269,1891.979601,5.347116e+06,2459.720023,1966.404860,6.050223e+06
17,,2022-02-26 08:58:57,0.112 sec,17.0,2147.131156,1751.762916,4.610172e+06,2329.337093,1858.023131,5.425811e+06
18,,2022-02-26 08:58:57,0.117 sec,18.0,2002.682031,1628.723035,4.010735e+06,2208.416458,1756.819998,4.877103e+06
19,,2022-02-26 08:58:57,0.121 sec,19.0,1877.050965,1523.019023,3.523320e+06,2110.475109,1674.550669,4.454105e+06

See the whole table with table.as_data_frame()

Variable Importances:

          variable  relative_importance  scaled_importance  percentage
0              age         4.396481e+11           1.000000    0.984927
1    healthyeating         4.435442e+09           0.010089    0.009937
2  activelifecycle         1.700804e+09           0.003869    0.003810
3        bloodType         5.920056e+08           0.001347    0.001326

In [41]:
ml.mae(train=True)

895.5340210580583

In [42]:
ml.mae(valid=True)

1444.8498732831538

In [43]:
perf = ml.model_performance(test)

In [44]:
perf

ModelMetricsRegression: gbm
** Reported on test data. **

MSE: 2525394.569791549
RMSE: 1589.149008051652
MAE: 1365.7955309031631
RMSLE: 0.04294726431659297
Mean Residual Deviance: 2525394.569791549

In [45]:
m2 = H2OGradientBoostingEstimator(model_id = "overfit_python")
m2.train(x,y,train, validation_frame = valid)

gbm Model Build progress: |██████████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2OGradientBoostingEstimator :  Gradient Boosting Machine
Model Key:  overfit_python


Model Summary:

,,number_of_trees,number_of_internal_trees,model_size_in_bytes,min_depth,max_depth,mean_depth,min_leaves,max_leaves,mean_leaves
0,,50.0,50.0,18538.0,5.0,5.0,5.0,12.0,32.0,24.86

ModelMetricsRegression: gbm
** Reported on train data. **

MSE: 1153342.075788982
RMSE: 1073.9376498610065
MAE: 895.5340210580583
RMSLE: 0.029879077151818367
Mean Residual Deviance: 1153342.075788982

ModelMetricsRegression: gbm
** Reported on validation data. **

MSE: 2821231.3333341125
RMSE: 1679.652146527403
MAE: 1444.8498732831538
RMSLE: 0.04522459905317094
Mean Residual Deviance: 2821231.3333341125

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_mae,training_deviance,validation_rmse,validation_mae,validation_deviance
0,,2022-02-26 09:05:05,0.016 sec,0.0,10429.864768,8944.657811,1.087821e+08,10079.756740,8722.948034,1.016015e+08
1,,2022-02-26 09:05:05,0.047 sec,1.0,9410.173299,8059.793564,8.855136e+07,9097.946100,7863.640856,8.277262e+07
2,,2022-02-26 09:05:05,0.047 sec,2.0,8494.265012,7265.001338,7.215254e+07,8225.168910,7098.567899,6.765340e+07
3,,2022-02-26 09:05:05,0.063 sec,3.0,7671.255342,6553.229071,5.884816e+07,7445.347873,6418.240529,5.543320e+07
4,,2022-02-26 09:05:05,0.063 sec,4.0,6932.328185,5912.616082,4.805717e+07,6740.758638,5806.668106,4.543783e+07
5,,2022-02-26 09:05:05,0.063 sec,5.0,6269.740668,5338.636828,3.930965e+07,6104.665833,5247.795591,3.726694e+07
6,,2022-02-26 09:05:05,0.078 sec,6.0,5675.216721,4823.413111,3.220808e+07,5537.575656,4750.676480,3.066474e+07
7,,2022-02-26 09:05:05,0.078 sec,7.0,5143.131018,4359.086527,2.645180e+07,5036.421661,4314.472767,2.536554e+07
8,,2022-02-26 09:05:05,0.078 sec,8.0,4666.453011,3944.563102,2.177578e+07,4581.908448,3913.825750,2.099389e+07
9,,2022-02-26 09:05:05,0.078 sec,9.0,4240.834490,3574.623401,1.798468e+07,4186.154238,3558.819188,1.752389e+07
10,,2022-02-26 09:05:05,0.094 sec,10.0,3859.720925,3243.290537,1.489745e+07,3835.903161,3244.440367,1.471415e+07
11,,2022-02-26 09:05:05,0.094 sec,11.0,3520.465515,2946.017221,1.239368e+07,3526.238067,2959.469785,1.243435e+07
12,,2022-02-26 09:05:05,0.094 sec,12.0,3218.139418,2680.867926,1.035642e+07,3246.127035,2696.764696,1.053734e+07
13,,2022-02-26 09:05:05,0.094 sec,13.0,2949.920152,2446.441914,8.702029e+06,3014.026787,2479.343526,9.084357e+06
14,,2022-02-26 09:05:05,0.109 sec,14.0,2711.376815,2235.778672,7.351564e+06,2807.997301,2285.223530,7.884849e+06
15,,2022-02-26 09:05:05,0.109 sec,15.0,2499.306893,2051.989979,6.246535e+06,2623.372882,2111.204707,6.882085e+06
16,,2022-02-26 09:05:05,0.109 sec,16.0,2312.383269,1891.979601,5.347116e+06,2459.720023,1966.404860,6.050223e+06
17,,2022-02-26 09:05:05,0.109 sec,17.0,2147.131156,1751.762916,4.610172e+06,2329.337093,1858.023131,5.425811e+06
18,,2022-02-26 09:05:05,0.126 sec,18.0,2002.682031,1628.723035,4.010735e+06,2208.416458,1756.819998,4.877103e+06
19,,2022-02-26 09:05:05,0.131 sec,19.0,1877.050965,1523.019023,3.523320e+06,2110.475109,1674.550669,4.454105e+06

See the whole table with table.as_data_frame()

Variable Importances:

          variable  relative_importance  scaled_importance  percentage
0              age         4.396481e+11           1.000000    0.984927
1    healthyeating         4.435442e+09           0.010089    0.009937
2  activelifecycle         1.700804e+09           0.003869    0.003810
3        bloodType         5.920056e+08           0.001347    0.001326

In [47]:
print("Train: %d", ml.mae(train=True),  m2.mae(train=True))
print("Valid: %d", ml.mae(valid=True),  m2.mae(valid=True))
print("Test: %d", perf.mae(),  m2.model_performance(test).mae())

Train: %d 895.5340210580583 895.5340210580583
Valid: %d 1444.8498732831538 1444.8498732831538
Test: %d 1365.7955309031631 1365.7955309031631