In [1]:
import h2o

In [7]:
import pandas as pd

In [9]:
import os

In [2]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  -------------------------------
H2O_cluster_uptime:         16 hours 20 mins
H2O_cluster_timezone:       America/New_York
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.36.0.3
H2O_cluster_version_age:    10 days
H2O_cluster_name:           H2O_started_from_R_laksh_uyu211
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    818 Mb
H2O_cluster_total_cores:    4
H2O_cluster_allowed_cores:  4
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.8.8 final
--------------------------  -------------------------------

In [15]:
file_path = "C:/Lakshmi/H2O/smoking.csv"
filedata = h2o.import_file(file_path, destination_frame = "smoking_df_python")

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [17]:
filedata.summary()

,C1,age,smoke,pop,dead
type,int,enum,enum,int,int
mins,1.0,,,98.0,2.0
mean,18.5,,,1558.9444444444443,253.61111111111114
maxs,36.0,,,6052.0,1001.0
sigma,10.535653752852738,,,1562.232174887577,262.5974951221821
zeros,0,,,0,0
missing,0,0,0,0,0
0,1.0,40-44,no,656.0,18.0
1,2.0,45-59,no,359.0,22.0
2,3.0,50-54,no,249.0,19.0
3,4.0,55-59,no,632.0,55.0
4,5.0,60-64,no,1067.0,117.0
5,6.0,65-69,no,897.0,170.0
6,7.0,70-74,no,668.0,179.0
7,8.0,75-79,no,361.0,120.0
8,9.0,80+,no,274.0,120.0
9,10.0,40-44,cigarPipeOnly,145.0,2.0

In [18]:
smoking = filedata

In [23]:
smoking[:, "C1"].sum()

666.0

In [24]:
from h2o.estimators.glm import H2OGeneralizedLinearEstimator

In [27]:
m = H2OGeneralizedLinearEstimator( family = "poisson", model_id = "smoking_python_1")

In [33]:
x = [2,3]
y = 4

In [34]:
m.train(x, y, smoking)

glm Model Build progress: |██████████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2OGeneralizedLinearEstimator :  Generalized Linear Modeling
Model Key:  smoking_python_1


GLM Model: summary

,,family,link,regularization,number_of_predictors_total,number_of_active_predictors,number_of_iterations,training_frame
0,,poisson,log,"Elastic Net (alpha = 0.5, lambda = 37.427 )",5,1,4,smoking_df_python

ModelMetricsRegressionGLM: glm
** Reported on train data. **

MSE: 32546.4240818532
RMSE: 180.4062750622971
MAE: 135.9245262064597
RMSLE: 1.319820921276539
R^2: 0.5145365060659479
Mean Residual Deviance: 119.91361442343464
Null degrees of freedom: 35
Residual degrees of freedom: 34
Null deviance: 8434.40760401343
Residual deviance: 4316.890119243647
AIC: 4560.891720932808

Scoring History:

,,timestamp,duration,iterations,negative_log_likelihood,objective,training_rmse,training_deviance,training_mae,training_r2
0,,2022-02-27 02:52:18,0.000 sec,0,8434.407604,234.289100,,,,
1,,2022-02-27 02:52:18,0.015 sec,1,4907.332720,151.966908,,,,
2,,2022-02-27 02:52:18,0.015 sec,2,4308.522514,132.262208,,,,
3,,2022-02-27 02:52:18,0.015 sec,3,4314.768682,132.167563,,,,
4,,2022-02-27 02:52:18,0.031 sec,4,4316.890119,132.165525,180.406275,119.913614,135.924526,0.514537

Variable Importances:

               variable  relative_importance  scaled_importance  percentage
0                   pop              0.51968                1.0         1.0
1   smoke.cigarPipeOnly              0.00000                0.0         0.0
2  smoke.cigarretteOnly              0.00000                0.0         0.0
3  smoke.cigarrettePlus              0.00000                0.0         0.0
4              smoke.no              0.00000                0.0         0.0

In [35]:
m.model_performance()

ModelMetricsRegressionGLM: glm
** Reported on train data. **

MSE: 32546.4240818532
RMSE: 180.4062750622971
MAE: 135.9245262064597
RMSLE: 1.319820921276539
R^2: 0.5145365060659479
Mean Residual Deviance: 119.91361442343464
Null degrees of freedom: 35
Residual degrees of freedom: 34
Null deviance: 8434.40760401343
Residual deviance: 4316.890119243647
AIC: 4560.891720932808

In [38]:
m.coef()

{'Intercept': 4.8810138164602614,
 'smoke.cigarPipeOnly': 0.0,
 'smoke.cigarretteOnly': 0.0,
 'smoke.cigarrettePlus': 0.0,
 'smoke.no': 0.0,
 'pop': 0.0003326524306268606}

In [39]:
smoking.columns

['C1', 'age', 'smoke', 'pop', 'dead']

In [40]:
m.train('age', y, smoking)

glm Model Build progress: |██████████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2OGeneralizedLinearEstimator :  Generalized Linear Modeling
Model Key:  smoking_python_1


GLM Model: summary

,,family,link,regularization,number_of_predictors_total,number_of_active_predictors,number_of_iterations,training_frame
0,,poisson,log,"Elastic Net (alpha = 0.5, lambda = 5.5253 )",9,8,5,smoking_df_python

ModelMetricsRegressionGLM: glm
** Reported on train data. **

MSE: 43561.09070617488
RMSE: 208.71293852124953
MAE: 162.38888888888894
RMSLE: 1.332625647055372
R^2: 0.3502413893270425
Mean Residual Deviance: 141.4647050618528
Null degrees of freedom: 35
Residual degrees of freedom: 27
Null deviance: 8434.40760401343
Residual deviance: 5092.729382226701
AIC: 5350.730983915869

Scoring History:

,,timestamp,duration,iterations,negative_log_likelihood,objective,training_rmse,training_deviance,training_mae,training_r2
0,,2022-02-27 02:56:15,0.000 sec,0,8434.407604,234.289100,,,,
1,,2022-02-27 02:56:15,0.015 sec,1,5384.624607,162.516751,,,,
2,,2022-02-27 02:56:15,0.015 sec,2,5142.054885,156.227543,,,,
3,,2022-02-27 02:56:15,0.015 sec,3,5138.228999,156.154374,,,,
4,,2022-02-27 02:56:15,0.015 sec,4,5138.224182,156.154306,,,,
5,,2022-02-27 02:56:15,0.015 sec,5,5092.729382,155.255882,208.712939,141.464705,162.388889,0.350241

Variable Importances:

    variable  relative_importance  scaled_importance  percentage
0  age.60-64             0.706376           1.000000    0.181921
1  age.40-44             0.679416           0.961833    0.174978
2  age.65-69             0.666429           0.943448    0.171633
3  age.45-59             0.606588           0.858732    0.156222
4  age.50-54             0.498857           0.706220    0.128477
5  age.70-74             0.359939           0.509557    0.092699
6    age.80+             0.198439           0.280925    0.051106
7  age.55-59             0.166821           0.236165    0.042963
8  age.75-79             0.000000           0.000000    0.000000

In [41]:
m.model_performance()

ModelMetricsRegressionGLM: glm
** Reported on train data. **

MSE: 43561.09070617488
RMSE: 208.71293852124953
MAE: 162.38888888888894
RMSLE: 1.332625647055372
R^2: 0.3502413893270425
Mean Residual Deviance: 141.4647050618528
Null degrees of freedom: 35
Residual degrees of freedom: 27
Null deviance: 8434.40760401343
Residual deviance: 5092.729382226701
AIC: 5350.730983915869

In [42]:
m.coef()

{'Intercept': 5.424470040718022,
 'age.40-44': -0.6794162660268199,
 'age.45-59': -0.6065876886595731,
 'age.50-54': -0.4988570575750373,
 'age.55-59': 0.16682148877597314,
 'age.60-64': 0.7063764159534394,
 'age.65-69': 0.6664292343220701,
 'age.70-74': 0.3599391460714685,
 'age.75-79': 0.0,
 'age.80+': -0.19843873317218907}