In [48]:
import h2o

In [50]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  -------------------------------
H2O_cluster_uptime:         2 hours 43 mins
H2O_cluster_timezone:       America/New_York
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.36.0.3
H2O_cluster_version_age:    9 days
H2O_cluster_name:           H2O_started_from_R_laksh_fdd511
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    806 Mb
H2O_cluster_total_cores:    4
H2O_cluster_allowed_cores:  4
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.8.8 final
--------------------------  -------------------------------

In [51]:
people = h2o.get_frame("people")

In [57]:
train, test = people.split_frame(
        ratios = [0.897],
        destination_frames = ["people_train", "people_test"],
        seed = 123)

In [60]:
train.nrows

900

In [61]:
test.nrows

100

In [63]:
from h2o.estimators.gbm import H2OGradientBoostingEstimator

In [64]:
y = "income"

In [65]:
ignoreFields = [y, "id"]

In [66]:
x = [i for i in train.names if i not in ignoreFields]

In [67]:
x

['bloodType', 'age', 'healthyeating', 'activelifecycle']

In [72]:
m3 = H2OGradientBoostingEstimator(model_id = "def9folds", nfolds = 9)

In [74]:
m3.train(x,y,train)

gbm Model Build progress: |██████████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2OGradientBoostingEstimator :  Gradient Boosting Machine
Model Key:  def9folds


Model Summary:

,,number_of_trees,number_of_internal_trees,model_size_in_bytes,min_depth,max_depth,mean_depth,min_leaves,max_leaves,mean_leaves
0,,50.0,50.0,18476.0,5.0,5.0,5.0,13.0,32.0,24.72

ModelMetricsRegression: gbm
** Reported on train data. **

MSE: 1276926.9193936242
RMSE: 1130.01191117334
MAE: 955.326328125
RMSLE: 0.03146328381295972
Mean Residual Deviance: 1276926.9193936242

ModelMetricsRegression: gbm
** Reported on cross-validation data. **

MSE: 2494026.3306846516
RMSE: 1579.2486601813698
MAE: 1329.4746405790713
RMSLE: 0.042695826973559635
Mean Residual Deviance: 2494026.3306846516

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid,cv_6_valid,cv_7_valid,cv_8_valid,cv_9_valid
0,mae,1.327643e+03,81.979580,1.368108e+03,1.306914e+03,1.187066e+03,1.313717e+03,1.471597e+03,1.328076e+03,1.239042e+03,1.362133e+03,1.372138e+03
1,mean_residual_deviance,2.489209e+06,278614.560000,2.653539e+06,2.403525e+06,2.039581e+06,2.401492e+06,2.997785e+06,2.609641e+06,2.184880e+06,2.524186e+06,2.588256e+06
2,mse,2.489209e+06,278614.560000,2.653539e+06,2.403525e+06,2.039581e+06,2.401492e+06,2.997785e+06,2.609641e+06,2.184880e+06,2.524186e+06,2.588256e+06
3,r2,9.767213e-01,0.002642,9.773696e-01,9.794143e-01,9.795039e-01,9.783030e-01,9.734740e-01,9.725980e-01,9.786974e-01,9.769461e-01,9.741853e-01
4,residual_deviance,2.489209e+06,278614.560000,2.653539e+06,2.403525e+06,2.039581e+06,2.401492e+06,2.997785e+06,2.609641e+06,2.184880e+06,2.524186e+06,2.588256e+06
5,rmse,1.575519e+03,88.419060,1.628969e+03,1.550331e+03,1.428139e+03,1.549675e+03,1.731411e+03,1.615438e+03,1.478134e+03,1.588769e+03,1.608805e+03
6,rmsle,4.252498e-02,0.003310,4.426314e-02,4.135437e-02,3.864218e-02,4.428282e-02,4.828705e-02,4.371325e-02,3.730858e-02,4.371631e-02,4.115710e-02

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_mae,training_deviance
0,,2022-02-26 09:26:06,1.047 sec,0.0,10377.664753,8903.964444,1.076959e+08
1,,2022-02-26 09:26:06,1.047 sec,1.0,9363.672393,8023.233650,8.767836e+07
2,,2022-02-26 09:26:06,1.047 sec,2.0,8453.530408,7232.261784,7.146218e+07
3,,2022-02-26 09:26:06,1.047 sec,3.0,7636.884095,6522.893151,5.832200e+07
4,,2022-02-26 09:26:06,1.047 sec,4.0,6904.019401,5887.058390,4.766548e+07
5,,2022-02-26 09:26:06,1.063 sec,5.0,6246.190267,5316.632504,3.901489e+07
6,,2022-02-26 09:26:06,1.063 sec,6.0,5656.582039,4805.441302,3.199692e+07
7,,2022-02-26 09:26:06,1.063 sec,7.0,5128.324792,4346.415208,2.629972e+07
8,,2022-02-26 09:26:06,1.063 sec,8.0,4655.501400,3936.847925,2.167369e+07
9,,2022-02-26 09:26:06,1.078 sec,9.0,4232.878112,3569.008683,1.791726e+07
10,,2022-02-26 09:26:06,1.078 sec,10.0,3855.560655,3240.628064,1.486535e+07
11,,2022-02-26 09:26:06,1.078 sec,11.0,3519.214251,2946.060408,1.238487e+07
12,,2022-02-26 09:26:06,1.078 sec,12.0,3219.974128,2682.785284,1.036823e+07
13,,2022-02-26 09:26:06,1.078 sec,13.0,2954.338621,2447.925595,8.728117e+06
14,,2022-02-26 09:26:06,1.094 sec,14.0,2719.055207,2238.896343,7.393261e+06
15,,2022-02-26 09:26:06,1.094 sec,15.0,2510.014346,2055.257502,6.300172e+06
16,,2022-02-26 09:26:06,1.094 sec,16.0,2327.895440,1898.016228,5.419097e+06
17,,2022-02-26 09:26:06,1.094 sec,17.0,2166.610391,1760.620486,4.694201e+06
18,,2022-02-26 09:26:06,1.109 sec,18.0,2025.343355,1639.536163,4.102016e+06
19,,2022-02-26 09:26:06,1.109 sec,19.0,1901.677515,1536.292222,3.616377e+06

See the whole table with table.as_data_frame()

Variable Importances:

          variable  relative_importance  scaled_importance  percentage
0              age         4.966949e+11           1.000000    0.985330
1    healthyeating         5.093404e+09           0.010255    0.010104
2  activelifecycle         1.872369e+09           0.003770    0.003714
3        bloodType         4.291279e+08           0.000864    0.000851

In [75]:
m3.mae(train=True)

955.326328125

In [76]:
m3.mae(xval=True)

1329.4746405790713

In [77]:
perf = m3.model_performance(test)

In [78]:
perf.mae()

1320.839143354263

In [79]:
m4 = H2OGradientBoostingEstimator(model_id = "overfit9folds_python", nfolds = 9, ntrees = 1000, max_depth = 10)

In [80]:
m4.train(x,y,train)

gbm Model Build progress: |██████████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2OGradientBoostingEstimator :  Gradient Boosting Machine
Model Key:  overfit9folds_python


Model Summary:

,,number_of_trees,number_of_internal_trees,model_size_in_bytes,min_depth,max_depth,mean_depth,min_leaves,max_leaves,mean_leaves
0,,1000.0,1000.0,433485.0,8.0,10.0,9.979,17.0,73.0,29.672

ModelMetricsRegression: gbm
** Reported on train data. **

MSE: 84176.89520718892
RMSE: 290.13254765225656
MAE: 224.07682291666666
RMSLE: 0.007800907546033149
Mean Residual Deviance: 84176.89520718892

ModelMetricsRegression: gbm
** Reported on cross-validation data. **

MSE: 3435557.6219746964
RMSE: 1853.525727357108
MAE: 1528.8166965214484
RMSLE: 0.050820079666665935
Mean Residual Deviance: 3435557.6219746964

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid,cv_6_valid,cv_7_valid,cv_8_valid,cv_9_valid
0,mae,1.523760e+03,125.160970,1.719132e+03,1.406235e+03,1.418842e+03,1.513764e+03,1.556710e+03,1.404901e+03,1.399982e+03,1.672180e+03,1.622092e+03
1,mean_residual_deviance,3.412549e+06,465405.500000,3.978064e+06,2.947334e+06,2.946496e+06,3.460604e+06,3.516336e+06,3.326934e+06,2.728034e+06,3.960433e+06,3.848706e+06
2,mse,3.412549e+06,465405.500000,3.978064e+06,2.947334e+06,2.946496e+06,3.460604e+06,3.516336e+06,3.326934e+06,2.728034e+06,3.960433e+06,3.848706e+06
3,r2,9.678221e-01,0.004948,9.608659e-01,9.690477e-01,9.729750e-01,9.676446e-01,9.683115e-01,9.683023e-01,9.765993e-01,9.641771e-01,9.624761e-01
4,residual_deviance,3.412549e+06,465405.500000,3.978064e+06,2.947334e+06,2.946496e+06,3.460604e+06,3.516336e+06,3.326934e+06,2.728034e+06,3.960433e+06,3.848706e+06
5,rmse,1.843427e+03,126.948940,1.994508e+03,1.716780e+03,1.716536e+03,1.860270e+03,1.875189e+03,1.823988e+03,1.651676e+03,1.990084e+03,1.961812e+03
6,rmsle,5.052426e-02,0.003890,5.594577e-02,4.761860e-02,4.613529e-02,4.912260e-02,5.186391e-02,4.690615e-02,4.751022e-02,5.563074e-02,5.398506e-02

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_mae,training_deviance
0,,2022-02-26 09:37:17,21.023 sec,0.0,10377.664753,8903.964444,1.076959e+08
1,,2022-02-26 09:37:17,21.028 sec,1.0,9359.489372,8022.016793,8.760004e+07
2,,2022-02-26 09:37:17,21.033 sec,2.0,8444.867986,7228.991684,7.131580e+07
3,,2022-02-26 09:37:17,21.038 sec,3.0,7623.427394,6518.884436,5.811665e+07
4,,2022-02-26 09:37:17,21.043 sec,4.0,6886.626293,5881.237934,4.742562e+07
5,,2022-02-26 09:37:17,21.048 sec,5.0,6223.846644,5308.022674,3.873627e+07
6,,2022-02-26 09:37:17,21.052 sec,6.0,5630.130852,4793.073906,3.169837e+07
7,,2022-02-26 09:37:17,21.058 sec,7.0,5098.073639,4330.582114,2.599035e+07
8,,2022-02-26 09:37:17,21.063 sec,8.0,4620.639207,3916.278218,2.135031e+07
9,,2022-02-26 09:37:17,21.068 sec,9.0,4193.877640,3545.377810,1.758861e+07
10,,2022-02-26 09:37:17,21.072 sec,10.0,3810.947408,3212.167398,1.452332e+07
11,,2022-02-26 09:37:17,21.072 sec,11.0,3469.872239,2914.819516,1.204001e+07
12,,2022-02-26 09:37:17,21.072 sec,12.0,3164.038215,2647.032133,1.001114e+07
13,,2022-02-26 09:37:17,21.088 sec,13.0,2892.556287,2407.893809,8.366882e+06
14,,2022-02-26 09:37:17,21.088 sec,14.0,2652.202770,2195.624503,7.034180e+06
15,,2022-02-26 09:37:17,21.088 sec,15.0,2438.063935,2008.705091,5.944156e+06
16,,2022-02-26 09:37:17,21.088 sec,16.0,2248.838214,1843.052231,5.057273e+06
17,,2022-02-26 09:37:17,21.106 sec,17.0,2082.197907,1698.720707,4.335548e+06
18,,2022-02-26 09:37:17,21.112 sec,18.0,1934.405141,1572.628674,3.741923e+06
19,,2022-02-26 09:37:18,21.118 sec,19.0,1804.616391,1464.788524,3.256640e+06

See the whole table with table.as_data_frame()

Variable Importances:

          variable  relative_importance  scaled_importance  percentage
0              age         4.994509e+11           1.000000    0.979842
1    healthyeating         5.767289e+09           0.011547    0.011314
2  activelifecycle         2.990946e+09           0.005988    0.005868
3        bloodType         1.516920e+09           0.003037    0.002976

In [86]:
print("Train: %d -->   %d"  % (m3.mae(train=True), m4.mae(train = True)))
print("Valid: %d -->   %d"  % (m3.mae(xval=True), m4.mae(xval = True)))
print("Test: %d -->   %d"  % (perf.mae(), m4.model_performance(test).mae()))

Train: 955 -->   224
Valid: 1329 -->   1528
Test: 1320 -->   1477