In [4]:
import h2o

In [35]:
import pandas as pd

In [40]:
import numpy as np

In [6]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  -------------------------------
H2O_cluster_uptime:         17 mins 45 secs
H2O_cluster_timezone:       America/New_York
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.36.0.3
H2O_cluster_version_age:    12 days
H2O_cluster_name:           H2O_started_from_R_laksh_wbn696
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    1.949 Gb
H2O_cluster_total_cores:    4
H2O_cluster_allowed_cores:  4
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.8.8 final
--------------------------  -------------------------------

In [7]:
data = h2o.import_file("http://h2o-public-test-data.s3.amazonaws.com/smalldata/airlines/allyears2k_headers.zip")

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [9]:
train, valid, test =data.split_frame([0.8, 0.1], seed = 69)

In [12]:
train.nrows

35255

In [13]:
train2 = data[1:35255,:]

In [14]:
train2 = h2o.assign(train2, "first35255")

In [16]:
h2o.ls()

                                                  key
0   Key_Frame__http___h2o_public_test_data_s3_amaz...
1   Key_Frame__http___h2o_public_test_data_s3_amaz...
2                                    RTMP_sid_b2ac_10
3                                    RTMP_sid_b2ac_11
4                                    RTMP_sid_b2ac_12
5                                    RTMP_sid_b2ac_13
6                                     RTMP_sid_b2ac_3
7                                     RTMP_sid_b2ac_4
8                                     RTMP_sid_b2ac_5
9                                     RTMP_sid_b2ac_6
10                                    RTMP_sid_b2ac_7
11                                    RTMP_sid_b2ac_8
12                                         first35255
13                                      py_2_sid_87ff
14                                      py_3_sid_87ff
15                                      py_4_sid_87ff
16                                      py_5_sid_87ff

In [17]:
data.ncol

31

In [18]:
dates = data[:,0:4]

In [19]:
airports = data[:,["Origin", "Dest"]]

In [20]:
dates.ncol

4

In [22]:
airports.ncol

2

Use cbind to join columns

In [23]:
a_and_d = airports.cbind(dates)

In [24]:
a_and_d

Origin,Dest,Year,Month,DayofMonth,DayOfWeek
SAN,SFO,1987,10,14,3
SAN,SFO,1987,10,15,4
SAN,SFO,1987,10,17,6
SAN,SFO,1987,10,18,7
SAN,SFO,1987,10,19,1
SAN,SFO,1987,10,21,3
SAN,SFO,1987,10,22,4
SAN,SFO,1987,10,23,5
SAN,SFO,1987,10,24,6
SAN,SFO,1987,10,25,7

In [26]:
a_and_d.dim

[43978, 6]

U rbind to join rows

In [27]:
restored_data = train.rbind([valid, test])

In [28]:
restored_data.dim

[43978, 31]

In [29]:
data.dim

[43978, 31]

In [30]:
restored_data[:,0:4].head()

Year,Month,DayofMonth,DayOfWeek
1987,10,14,3
1987,10,15,4
1987,10,17,6
1987,10,18,7
1987,10,22,4
1987,10,23,5
1987,10,24,6
1987,10,25,7
1987,10,26,1
1987,10,28,3

In [32]:
data[:,0:4].head()

Year,Month,DayofMonth,DayOfWeek
1987,10,14,3
1987,10,15,4
1987,10,17,6
1987,10,18,7
1987,10,19,1
1987,10,21,3
1987,10,22,4
1987,10,23,5
1987,10,24,6
1987,10,25,7

In [33]:
train[:,0:4].head()

Year,Month,DayofMonth,DayOfWeek
1987,10,14,3
1987,10,15,4
1987,10,17,6
1987,10,18,7
1987,10,22,4
1987,10,23,5
1987,10,24,6
1987,10,25,7
1987,10,26,1
1987,10,28,3

Merge

In [38]:
A = h2o.H2OFrame(
    pd.DataFrame({
        'a': range(1,11),
        'b': range(11,21),
        'c': range(21,31)
    }),
    destination_frame = "A"
)

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [39]:
A.as_data_frame()

    a   b   c
0   1  11  21
1   2  12  22
2   3  13  23
3   4  14  24
4   5  15  25
5   6  16  26
6   7  17  27
7   8  18  28
8   9  19  29
9  10  20  30

In [42]:
np.random.seed(123)
B = h2o.H2OFrame(
    pd.DataFrame({
        'a': np.random.randint(6,13,20),
        'b': np.random.randint(6,13,20)
    }),
    destination_frame = "B"
)

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [43]:
B.as_data_frame()

     a   b
0   12   6
1   11   7
2   12   9
3    8  12
4   10  11
5    8  10
6   12   6
7    7   6
8    9  10
9    8   7
10   9   9
11   7   8
12  12  10
13   7   8
14   6  10
15   7   6
16  12  11
17   7   6
18   6   7
19  12   9

In [44]:
M = A.merge(B)

In [48]:
M

This H2OFrame is empty.

In [45]:
M.as_data_frame()

Empty DataFrame
Columns: [a, b, c]
Index: []

In [46]:
M = B.merge(A)

In [47]:
M

This H2OFrame is empty.

In [50]:
M = B.merge(A, by_x = "b", by_y = ["a"])

In [51]:
M

b,a,c
16,12,26
16,12,26
16,7,26
16,7,26
16,7,26
17,11,27
17,8,27
17,6,27
18,7,28
18,7,28

In [52]:
M.as_data_frame()

     b   a  b.1   c
0    6  12   16  26
1    6  12   16  26
2    6   7   16  26
3    6   7   16  26
4    6   7   16  26
5    7  11   17  27
6    7   8   17  27
7    7   6   17  27
8    8   7   18  28
9    8   7   18  28
10   9  12   19  29
11   9   9   19  29
12   9  12   19  29
13  10   8   20  30
14  10   9   20  30
15  10  12   20  30
16  10   6   20  30

In [53]:
M = B.merge(A, by_y = "b", by_x = ["a"])

In [54]:
M.as_data_frame()

    a   b  a.1   c
0  11   7    1  21
1  12   6    2  22
2  12   9    2  22
3  12   6    2  22
4  12  10    2  22
5  12  11    2  22
6  12   9    2  22

In [55]:
M = B.merge(A, by_y = "b", by_x = ["a"], all_x = True)

In [56]:
M.as_data_frame()

     a   b  a.1     c
0    6  10  NaN   NaN
1    6   7  NaN   NaN
2    7   6  NaN   NaN
3    7   8  NaN   NaN
4    7   8  NaN   NaN
5    7   6  NaN   NaN
6    7   6  NaN   NaN
7    8  12  NaN   NaN
8    8  10  NaN   NaN
9    8   7  NaN   NaN
10   9  10  NaN   NaN
11   9   9  NaN   NaN
12  10  11  NaN   NaN
13  11   7  1.0  21.0
14  12   6  2.0  22.0
15  12   9  2.0  22.0
16  12   6  2.0  22.0
17  12  10  2.0  22.0
18  12  11  2.0  22.0
19  12   9  2.0  22.0

In [57]:
M = A.merge(B, all_y = True)

In [58]:
M.as_data_frame()

     a   b   c
0    6   7 NaN
1    6  10 NaN
2    7   6 NaN
3    7   6 NaN
4    7   6 NaN
5    7   8 NaN
6    7   8 NaN
7    8   7 NaN
8    8  10 NaN
9    8  12 NaN
10   9   9 NaN
11   9  10 NaN
12  10  11 NaN
13  11   7 NaN
14  12   6 NaN
15  12   6 NaN
16  12   9 NaN
17  12   9 NaN
18  12  10 NaN
19  12  11 NaN