In [1]:
library(h2o)

----------------------------------------------------------------------

Your next step is to start H2O:
    > h2o.init()

For H2O package documentation, ask for help:
    > ??h2o

After starting H2O, you can use the Web UI at http://localhost:54321
For more information visit https://docs.h2o.ai

----------------------------------------------------------------------


Attaching package: 'h2o'

The following objects are masked from 'package:stats':

    cor, sd, var

The following objects are masked from 'package:base':

    %*%, %in%, &&, ||, apply, as.factor, as.numeric, colnames,
    colnames<-, ifelse, is.character, is.factor, is.numeric, log,
    log10, log1p, log2, round, signif, trunc

In [2]:
h2o.init()

H2O is not running yet, starting it now...

Note:  In case of errors look at the following log files:
    C:\Users\laksh\AppData\Local\Temp\RtmpyuoFp4\fileba0633040f/h2o_laksh_started_from_r.out
    C:\Users\laksh\AppData\Local\Temp\RtmpyuoFp4\fileba02228439a/h2o_laksh_started_from_r.err


Starting H2O JVM and connecting: .. Connection successful!

R is connected to the H2O cluster:
    H2O cluster uptime:         12 seconds 121 milliseconds
    H2O cluster timezone:       America/New_York
    H2O data parsing timezone:  UTC
    H2O cluster version:        3.36.0.3
    H2O cluster version age:    12 days
    H2O cluster name:           H2O_started_from_R_laksh_wbn696
    H2O cluster total nodes:    1
    H2O cluster total memory:   1.98 GB
    H2O cluster total cores:    4
    H2O cluster allowed cores:  4
    H2O cluster healthy:        TRUE
    H2O Connection ip:          localhost
    H2O Connection port:        54321
    H2O Connection proxy:       NA
    H2O Internal Security:      FALSE
    R Version:                  R version 3.6.1 (2019-07-05)

In [6]:
data <- h2o.importFile("http://h2o-public-test-data.s3.amazonaws.com/smalldata/airlines/allyears2k_headers.zip")

  |======================================================================| 100%

In [7]:
parts <- h2o.splitFrame(data, c(0.8,0.1), seed = 69)

In [8]:
train <- parts[[1]]
valid <- parts[[2]]
test <- parts[[3]]

In [9]:
train2 <- data[1:35255,]

In [10]:
h2o.ls()

  key
1 Key_Frame__http___h2o_public_test_data_s3_amazonaws_com_smalldata_airlines_allyears2k_headers.hex_sid_b2ac_1

In [11]:
train2 <- h2o.assign(train2, "first35255")

In [12]:
ncol(data)

[1] 31

In [13]:
dates <- data[, 1:4]

In [15]:
airports <- data[, c('Origin', 'Dest')]

In [16]:
ncol(airports)

[1] 2

In [17]:
ncol(dates)

[1] 4

In [ ]:
#Use cbind to join columns

In [18]:
a_and_d <- h2o.cbind(airports, dates)

In [19]:
dim(a_and_d)

[1] 43978     6

In [ ]:
#Use rbind ro join rows

In [20]:
restored <- h2o.rbind(train, valid, test)

In [21]:
dim(restored)

[1] 43978    31

In [22]:
dim(data)

[1] 43978    31

In [23]:
head(restored[,1:4])

  Year Month DayofMonth DayOfWeek
1 1987 10    14         3
2 1987 10    15         4
3 1987 10    17         6
4 1987 10    18         7
5 1987 10    22         4
6 1987 10    23         5

In [24]:
head(data[,1:4])

  Year Month DayofMonth DayOfWeek
1 1987 10    14         3
2 1987 10    15         4
3 1987 10    17         6
4 1987 10    18         7
5 1987 10    19         1
6 1987 10    21         3

In [25]:
head(train[,1:4])

  Year Month DayofMonth DayOfWeek
1 1987 10    14         3
2 1987 10    15         4
3 1987 10    17         6
4 1987 10    18         7
5 1987 10    22         4
6 1987 10    23         5